/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Agregado margen general a la página */
    padding: 0;
    background-color: #f4f8fb;
    color: #333;
}

header {
    background-color: #2f74cd;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 12px;
}

.info {
    padding: 0; 
    margin: 0; 
    background-color: transparent; 
    border: none; 
    box-shadow: none; 
}

.info-table {
    width: 100%;
    border-collapse: collapse; 
}

.info-table td {
    padding: 8px 10px; 
    text-align: left; 
    vertical-align: top; 
    font-size: 14px; 
}

.info-table strong {
    margin-right: 5px; 
    font-weight: bold; 
}

.info-table tr:nth-child(odd) {
    background-color: #f7fbff; 
}

.info-table tr:nth-child(even) {
    background-color: #ffffff; 
}

/* Estilo para las tablas de Familias */
table.familias {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table.familias th, table.familias td {
    border: 1px solid #d9e6f2;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}

table.familias th {
    background-color: #004080;
    color: #fff;
    font-weight: bold;
}

table.familias tr:nth-child(even) {
    background-color: #f2f6fc;
}

table.familias tr:hover {
    background-color: #d9e6f2;
}

/* Ajuste específico para la columna de firma */
table.familias td:last-child {
    width: 200px; /* Aumentamos el tamaño de la columna de la firma */
    min-width: 150px;
    text-align: left;
}

/* Tabla info (no cambiar el ancho) */
table.info-table {
    width: auto; /* Evitar que la tabla de info ocupe todo el ancho */
    margin-bottom: 10px; /* Añadir espacio por debajo de la tabla */
}

table td {
    padding: 8px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

table td:first-child {
    font-weight: bold;
}

/* Márgenes generales */
body {
    margin: 20px; /* Añadir margen a la página */
}
